body {
    background-image: url('https://images.unsplash.com/photo-1554258194-2559560eb20a?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center; 
    font-family: 'Rubik', sans-serif;
}
.bg-body-tertiary{
    background-color: black;
    color: aliceblue;
}
.navbar-collapse{
    float: right;
}
.pic{
    filter: invert(100%);
}
.content{
    margin-top:80px ;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
}
h2{
    font-family: 'Kanit', sans-serif;
    font-weight: bolder;
    color: aliceblue;
    font-size: 48pt;
}
span{
    color: orange;
}
.pro{
    clip-path: circle(50%)
}
.social{
    display: flex;
    gap: 3%;
    justify-content: center;
}

/* Contact Page CSS starts*/
#in{
    margin-left: 5%;
    font-size: 150pt;
}
#touch{
    color: orange;
}
.cot{
    float:right;
    color: white;
    font-weight: lighter;
    font-size: 14pt;
    margin-top: 100px;
}
/* Contact Page CSS ends*/

/* About Me CSS Start */
.abt{
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bor{
    border-radius: 30%;
    border: 6px solid white;
}
.hi{
    text-align: center;
}
#conabt{
   margin-top: 50px;
}
.ca{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
}
.CV{
    height: 900px;
    border-radius: 10%;
}
.card-body{
    color: aliceblue;
    text-align: center;
    padding-top: 5px;
}
/* Ends here */

@media (min-width: 200px) and (max-width: 575px) { 
    .content{
        display: block;
    }
    header{
        font-size: 10pt;
    }
    .headC{
        text-align: center;
    }
    h2{
        font-size: 25px;
    }
    .con{
        width: auto;
    }
    .pro{
        clip-path: circle(29%);
    }
    .logo{
        height: 20px;
        width: 20px;
    }
    #in{
        margin-left: 10%;
        font-size: 50pt;
    }
    .cot{
        font-size: 10pt;
    }
    /* About Us */
    .abt{
        display: block;
    }
    #bord{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
        padding-bottom: 80px;
    }
    #conabt{
        font-size: 11pt;
    }
    .bor{
        height: 300px;
    }

    #conabt{
        text-align: center;
    }
    .CV{
        height: 450px;
        border-radius: 10%;
    }
    /* About Us Ends */
}

@media (min-width:575px) and (max-width: 767px){
    .content{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 1px;
    }
    header{
        font-size: 12pt;
    }
    h2{
        font-size: 33px;
    }
    .pro{
        clip-path: circle(30%);
    }
    .logo{
        height: 20px;
        width: 20pt;
    }
    .con{
        width: auto;
    }
    #in{
        margin-left: 10%;
        font-size: 80pt;
    }
    .cot{
        font-size: 15pt;
    }
    /* About us  */
    .abt{
        display: block;
    }
    #bord{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 80px;
    }
    .bor{
        height: 400px;
    }

    #conabt{
        text-align: center;
    }
    .CV{
        height: 600px;
        border-radius: 10%;
    }
    /* About US end */
}

@media (min-width:766px) and (max-width: 992px){
    .content{
        justify-content: center;
        align-items: center;
        margin-top: 1px;
    }
    header{
        width:100% ;
        font-size: 12pt;
    }
    h2{
        font-size: 280%;
    }
    .pro{
        clip-path: circle(140px);
    }
    .logo{
        height: 20px;
        width: 20pt;
    }
    .con{
        width: auto;
    }
    /* About US */
    .abt{
        display: block;
    }
    #bord{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 80px;
    }
    #conabt{
        text-align: center;
    }
    .CV{
        height: 700px;
        border-radius: 10%;
    }
    /* About US End */

}
@media (min-width:992px){
    .content{
        gap: 20%;
    }
}
